<form action="/answer" method="get">
<label for="question">Ask your coach:</label>
<input type="text" id="question" name="question" placeholder="Ask something">
<input class="btn btn-primary" type="submit" value="Submit">
</form>
